.modal-body {
  min-height: 50vh;
  max-height: 50vh;
}

.slide-content {
  min-height: 65vh;
  max-height: 65vh;
  overflow-y: scroll;
}

#svg-element, #svg-graph-element {
  width: 100%;
  height: auto;
}

#bbox-group{
  pointer-events: none;
}

#cover-element {
  pointer-events: none;
}

@media (min-width: 1200px) {
  .container{
      max-width: 970px;
  }
}
